<include file="header/index"/>

<div class="right-content-container">
    <form action="#" method="post">
        <table>
            <tr>
                <td>分类</td>
                <td>
                    <select name="category_id" class="fl h32">
                        <option value="-1">选择分类</option>
                        <volist name="category" id="value">
                            <option value="{$value.id}">
                                <if condition="($value.level eq 0)">
                                    &nbsp;&nbsp;
                                    <else/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </if>
                                {$value.name}
                            </option>
                        </volist>
                    </select>
                    <p class="tip">请选择分类（必选）</p>
                </td>
            </tr>
            <tr>
                <td>标题</td>
                <td>
                    <input type="text" name="title" class="input fl">
                    <p class="tip">标题不能为空啊</p>
                </td>
            </tr>
            <tr>
                <td>作者</td>
                <td>
                    <input type="text" name="author" class="input fl" value="佚名">
                    <p class="tip">默认为佚名啊</p>
                </td>
            </tr>
            <tr>
                <td>内容</td>
                <td>
                    <textarea name="content" style="min-height: 300px;"></textarea>
                    <p class="tip">内容不能为空啊</p>
                </td>
            </tr>
            <tr>
                <td>点击量</td>
                <td>
                    <input type="text" name="hit" class="input" value="0">
                </td>
            </tr>
            <tr>
                <td>是否置顶</td>
                <td>
                    <label><input type="radio" name="is_top" value="1">&nbsp;是</label>
                    &nbsp;&nbsp;
                    <label><input type="radio" name="is_top" value="0" checked>&nbsp;否</label>
                </td>
            </tr>
            <tr>
                <td>是否直接显示</td>
                <td>
                    <label><input type="radio" name="is_display" value="1" checked>&nbsp;是</label>
                    &nbsp;&nbsp;
                    <label><input type="radio" name="is_display" value="0">&nbsp;否</label>
                </td>
            </tr>
            <tr>
                <td>创建时间</td>
                <td>
                    <input type="text" name="create_time" class="input" value="2016">
                </td>
            </tr>
            <tr>
                <td>操作</td>
                <td>
                    <input type="submit" name="submit" value="提交" class="submit">
                    <input type="reset" name="reset" value="重置" class="submit">
                </td>
            </tr>
        </table>
    </form>

<include file="footer/index" />

<script src="__PUBLIC__/admin/editor/kindeditor-min.js"></script>
<script src="__PUBLIC__/admin/editor/lang/zh_CN.js"></script>
<script>
    var editor;
    KindEditor.ready(function ( K ) {
        editor = K.create('textarea[name="content"]' , {
            allowFileManager: true
        });
    });
</script>

