<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="__PUBLIC__/home/css/base.css?v=2015226">
        <link rel="stylesheet" href="__PUBLIC__/home/css/common.css?v=2015226">
        <link rel="stylesheet" href="__PUBLIC__/home/css/skill.css?v=2015226">
        <link rel="stylesheet" href="__PUBLIC__/home/css/message.css?v=2015226">
        <link rel="stylesheet" href="__PUBLIC__/home/css/software.css?v=2015226">
        <script src="__PUBLIC__/home/js/base.js"></script>
        <script src="__PUBLIC__/home/js/jquery.js"></script>
    </head>

    <body>
        <!-- head - s -->
        <div class="head-wrapper">
            <div class="head-container">
                <div class="head-container-top-box">
                    <h1>
                        <a href="__MODULE__/index/index">
                            <img src="__PUBLIC__/home/img/head/logo.png">
                        </a>
                    </h1>
                </div>
                <div class="head-container-bottom-box">
                    <div class="head-nav" id="headNav">
                        <a href="__MODULE__/Index/index">首页</a>
                        <a href="#">前端开发</a>
                        <a href="__MODULE__/Hd/index">后端开发</a>
                        <a href="__MODULE__/Software/index">软件手册</a>
                        <a href="#">视频分享</a>
                        <a href="__MODULE__/Website/index">建站服务</a>
                        <a href="__MODULE__/Message/index" class="mr0">联系站长</a>
                    </div>
                    <div class="head-nav-r">
                        <div class="search-panel">
                            <input type="text" class="search-text" id="searchText" placeholder="极客搜索">
                            <ol id="quickSearch">搜索历史啊</ol>
                            <input type="submit" class="search-button" value="搜索" id="searchBtn" data-val="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- head - e -->

        <!-- content - s -->
        <div class="content-wrapper">